# Dependency directories
node_modules/
.npm/
.pnp.js

# Build files
build/
dist/
dist-ssr/
.next/
.swc/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment variables
*.env
*.env.local
.*.env

# Editor directories 
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Package manager
package-lock.json
yarn.lock
.yarn-integrity   